/* .profile_parent
{
    width: 100 vw;
    height: 100 vh;
    background-color:#0a122a ;
} */

.container .crid
{
    border-radius: 9px;
    min-width: 200px;
    min-height: 200px;
    background-color: #101833f1;
    
    
    /* border: 2px solid red; */
    /* background: linear-gradient(213deg, #C9A126 0%, rgba(10, 18, 42, 0.78) 10%); */
    /* background: linear-gradient(to right, #dc2626, #0a122a); */
}
.s{
    font-size: 8px;
    padding: 10px;
    background-color:#101833 ;
    box-shadow: 0px 1px 3px #C9A126;
    border-radius: 9px;
    font-weight:100;
    color: #cbced6;
}
.profil
{
    background-color: #1c2647;
    /* border: 2px solid red; */
    margin: 10px 20px;
    border-radius: 9px;
    padding: 10px 250px;
        /* border: 2px solid red; */
}
.prfil_photo
{
    box-shadow: 0px 1px 9px #C9A126;
    /* position: absolute; */
    
}

.prints .icon
{
    bottom: 7px;
    right: 10px;
    font-size: 17px;
}
.texts
{
    margin-top: 0;
    padding-top: 0%;
}
.texts>h6
{
    color: #ffffff;
    font-size: 12px;
    
}
.text_p
{
    min-width: 200px;
    /* margin: 0 300px ; */
    
}
.text_p>p
{
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    color: #e7d59f;
}
.type_image h6
{
    font-size: 8px;
    background-color: #0e1a3dfe;
    margin: 8px;
    padding: 5px;
    border-radius: 9px;
    color: #e7d59f;
}
.buttons
{
    color: #c6ad61;
     font-size: 14px;
       background-color: #4d526291;
    margin: 8px;
    /* padding: 4px 2px; */
    border-radius: 9px;
}